<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">

        <link href="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}css/reset-min.css" rel="stylesheet" />
        <link href="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}css/core.less" rel="stylesheet/less" />
        <link href="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}css/fluid_grid.css" rel="stylesheet" />
        
        {% block extracss %}
        {% endblock extracss %}

        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/less.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.flot.min.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.flot.selection.min.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.flot.stack.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/core.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/ajax.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/json.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/charts.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/formatter.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.form.js" ></script>

        <script>
            {% if load_test_data %}
               CMA.Core.testUrls = true;
            {% endif %}

            {% if taskname %}
                CMA.Core.taskname = "{{ taskname }}";
            {% endif %}
            {% if workername %}
                CMA.Core.workername = "{{ workername }}";
            {% endif %}
            {% if CELERYMANAGEMENTAPP_INFRASTRUCTURE_USE_MODE %}
                CMA.Core.USE_MODE = "{{ CELERYMANAGEMENTAPP_INFRASTRUCTURE_USE_MODE }}";
            {% endif %}
        </script>

        {% block extrajs %}
        {% endblock extrajs %}

        <title>{% block title %}System Overview{% endblock %}</title>
        
        {% block extra_head %}
        {% endblock %}
        
    </head>

    {% block body %}
    <body>
        <div id="container">
            <div id="header">
            {% block header %}
                <div id="headerBarContainer">
                    <h1>Celery Management</h1>
                    <div id="statusUpdate">
                        <div id="statusText">
                        </div>
                    </div>
               </div>
            {% endblock header %}
            </div>
            <div id="contentContainer">
                <div id="dummy">
                    <div id="navigation">
                        <ul>
                            {% if load_test_data %}
                            <li><a href="/celerymanagementapp/test/view/dashboard/">Dashboard</a></li>
                            <li><a href="/celerymanagementapp/test/view/system/">Realtime View</a></li>
                            <li><a href="/celerymanagementapp/test/view/configure/">Configuration</a></li>
                            {% if CELERYMANAGEMENTAPP_INFRASTRUCTURE_USE_MODE == "dynamic" %}
                            <li><a href="/celerymanagementapp/test/view/policy/">Policies</a></li>
                            {% endif %}
                            {% else %}
                            <li><a href="/celerymanagementapp/view/dashboard/">Dashboard</a></li>
                            <li><a href="/celerymanagementapp/view/system/">Realtime View</a></li>
                            <li><a href="/celerymanagementapp/view/configure/">Configuration</a></li>
                            {% if CELERYMANAGEMENTAPP_INFRASTRUCTURE_USE_MODE == "dynamic" %}
                            <li><a href="/celerymanagementapp/view/policy/">Policies</a></li>
                            {% endif %}
                            {% endif %}
                            <li><a id="taskNavigationMaster">+ Tasks</a></li>
                            <ul id="taskNavigation">
                            </ul>
                            <li><a id="workerNavigationMaster">+ Workers</a></li>
                            <ul id="workerNavigation">
                            </ul>
                        </ul>
                    </div>
                </div>
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    {% endblock body %}
</html>
