<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us" xml:lang="en-us" >
    <head>
        <link href="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}css/reset-min.css" rel="stylesheet" type="text/css" />
        <link href="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}css/core.less" rel="stylesheet/less" type="text/css" />
        <link href="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}css/fluid_grid.css" rel="stylesheet" type="text/css" />
        
        {% block extracss %}
        {% endblock extracss %}

        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/less.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.flot.min.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/jquery.flot.selection.min.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/core.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/ajax.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/json.js" ></script>
        <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/charts.js" ></script>
		<script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/formatter.js" ></script>

        {% block extrajs %}
        {% endblock extrajs %}

        <title>{% block title %}System Overview{% endblock %}</title>
        
        {% block extra_head %}
        {% endblock %}
        
    </head>

    {% block body %}
    <body>
            <div id="header">
                {% block header %}
                <div id="headerBarContainer" class="container_12">
                    <h1 class="grid_10 push_1">Celery Management</h1>
               </div>

               <div id="breadCrumbsContainer" class="container_12">
                   <div id="breadCrumbs" class="grid_10 push_1">
                       <h2>System</h2>
                   </div>
                </div>
            {% endblock header %}
            </div>
	    <div id="content">
                {% block content %}
	        <button onclick="json()"></button>
		{% endblock %}
	    </div>
    </body>
    {% endblock body %}
</html>
