<ul class="node {% if worker.worker.active %} active {% else %} inactive {% endif %} ">
    <li class="left">{{ worker.worker.ip }}</li>
    <li class="editWorkerNode right click" id="{{ worker.worker.pk }}_delete"><img width="12" height ="12" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}images/delete.png"/><span class="right">Delete</span></li>
    <li class="editWorkerNode right click" id="{{ worker.worker.pk }}_update"><span>Modify</span></li>
    <li class="editWorkerNode right click" id="{{ worker.worker.pk }}_power"><span>{% if worker.worker.active %} Power Off {% else %} Power On {% endif %}</span></li>
</ul>
<form method="POST" enctype="multipart/form-data" class="outOfBandForm" id="{{ worker.worker.pk }}_Form">
    {% csrf_token %}
    {% for field in worker.workerForm %}
    <div class="fieldWrapper">
        <div class="field">
            {{ field.label_tag }} {{ field }}
            <span class="errorWrapper" id="{{ worker.worker.pk }}_{{ field.html_name }}_error"></span>
        </div>
    </div>
    {% endfor %}
    <button type='button' class="updateOutOfBandButton submitButton click positiveButton" id="{{ worker.worker.pk }}_editButton">Update</button>
</form>
