    <h1>
        Current Use Mode: <span>{{ CELERYMANAGEMENTAPP_INFRASTRUCTURE_USE_MODE }}</span>
    </h1>
    {% if instances %}
    <ul>
        <li>Instance ID</li>
        <li class="right click" id="viewProvider">View Provider Information</li>
    </ul>
    {% endif %}
    {% if provider.provider %}
        <div class="hidden" id="providerFormWrapper">
            {% endif %}
            {% if not provider.provider %}
    <div class="fieldWrapper">
        Step 1: Enter provider information, then click "Get Images" to retrieve availible images.
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data" class="providerForm" id="blankProviderForm" action="/celerymanagementapp/provider/">
        {% csrf_token %}
        {% for field in provider.provider_form %}
        {% if not provider.provider %}
            {% if forloop.counter == 4 %}
            <div class="fieldWrapper hidden" id="providerStep2">
            </div>
            {% endif %}
            {% if forloop.counter == 4 %}
            <div class="fieldWrapper hidden" id="providerStep3">
                Step 3: Enter configuration information for your image.
            </div>
            {% endif %}
        {% endif %}
        <div class="fieldWrapper {% if not provider.provider %}{% if forloop.counter > 3 %}hidden{% endif %}{% endif %}">
            <div class="field">
                {{ field.label_tag }} {{ field }}
                <span class="errorWrapper" id="{{ field.html_name }}_error"></span>
                {{ field.errors }}
            </div>
        </div>
        {% if forloop.counter == 3 %}
        {% if not provider.provider %}
            <button type="button" class="submitButton click" id="getImagesButton">Get Images</button>
        {% endif %}
        {% endif %}
        {% endfor %}
        <button class="submitButton {% if not provider.provider %}hidden{% endif %} click" id="submitProviderButton">Create</button>
    </form>
    {% if provider.provider %}
        </div>
    {% endif %}
    {% for instance in instances %}
    <ul class="node">
        <li class="left">{{ instance.instance_id }}</li>
        <li class="deleteInstance right click" id="{{ instance.pk }}">Delete</li>
    </ul>
    {% endfor %}
