{% extends "celerymanagementapp/base.html" %}

{% block content %}
<div id="configurationManagement">
    <h1>
        Policies
    </h1>
    <ul>
        <li>Policy Name</li>
        <li class="createPolicy right click">Policy</li>
        <li class="createPolicy right click"><img src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}images/edit-add.png"/></li>
    </ul>
    <form method="POST" enctype="multipart/form-data" class="policyForm" id="blankPolicyForm" action="/celerymanagementapp/policy/">
        {% csrf_token %}
        {% for field in blank_policy_form %}
        {% if forloop.counter < 4 %}
        <div class="fieldWrapper">
            <div class="field">
                {{ field.label_tag }} 
                <div class="left">{{ field }}</div>
                {% if field.html_name == "source" %}
                <pre class="errorWrapper right BS" id="{{ field.html_name }}_error"></pre>
                {% else %}
                <span class="errorWrapper" id="{{ field.html_name }}_error"></span>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <button type="button" class="submitButton click positiveButton" id="submitPolicyButton" >Submit</button>
    </form>
    {% for policy in policies %}
        {% include "celerymanagementapp/policy_instance.html" %}
    {% endfor %}
</div>
{% endblock %}
