{% extends "celerymanagementapp/base.html" %}

{% block extrajs %}
    <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/system_canvas.js" ></script>
    
    <script>
        if( {{ load_test_data }} ){
            CMACore.loadTestUrls();
        } else {
            CMACore.loadUrls();
        }
    </script>
{% endblock extrajs %}

{% block content %}
<div id="system">
    <canvas id="systemCanvas" width="1905">

    </cavas>
</div>
    <div id="workerMenu">
        <ul>
            <li><a id="deactivateWorker">Deactivate Worker</a></li>
        </ul>
    </div>
{% endblock content %}
