{% extends "celerymanagementapp/base.html" %}

{% block extrajs %}
    <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/system_canvas.js" ></script>
    
    <script>
        {% if CELERYMANAGEMENTAPP_SYSTEMVIEW_REFRESH_RATE != 0 %}
            setInterval(refresh, {{ CELERYMANAGEMENTAPP_SYSTEMVIEW_REFRESH_RATE }} * 1000);
        {% endif %}
    </script>
{% endblock extrajs %}

{% block content %}
<div id="system">
    <canvas id="systemCanvas">

    </cavas>
</div>
    <div id="workerMenu">
        <ul>
            <li><a id="deactivateWorker">Deactivate Worker</a></li>
        </ul>
    </div>
{% endblock content %}
