{% extends "celerymanagementapp/base.html" %}

{% block extrajs %}
    <script type="text/javascript" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}js/system_canvas.js" ></script>
    
    <script>
        {% if CELERYMANAGEMENTAPP_SYSTEMVIEW_REFRESH_RATE != 0 %}
            setInterval(CMA.SystemDisplay.refresh, {{ CELERYMANAGEMENTAPP_SYSTEMVIEW_REFRESH_RATE }} * 1000);
        {% endif %}
    </script>
{% endblock extrajs %}

{% block content %}
    <div id="system">
        <canvas id="systemCanvas">
        </canvas>
    </div>
    {% if CELERYMANAGEMENTAPP_INFRASTRUCTURE_USE_MODE == "static" %}
    <div id="workerMenu" class="contextMenu">
        <div class="iconColumn left">
            <ul>
                <li id="powerWorkerImg" class="menuImg click"><img height="18" width="18" src="{{ CELERYMANAGEMENTAPP_MEDIA_PREFIX }}images/power-off.png" /></li>
            </ul>
        </div>
        <div class="textColumn right">
            <ul>
                <li id="powerWorker" class="menuItem click">Power Off</li>
            </ul>
        </div>
    </div>
    <div id="taskMenu" class="contextMenu">
        <div class="iconColumn left">
            <ul>
                <li id="dispatchTaskImg" class="menuImg click"></li>
            </ul>
        </div>
        <div class="textColumn right">
            <ul>
                <li id="dispatchTask" class="menuItem click">Dispatch Task</li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock content %}
