@page_background: #FFFFFF;
@header_background: #FFF;
@headerBarContainer_background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF7400), to(#FF7400), color-stop(.5,#F06C00));
@navigation_background: #FFF;

@text_color: #222222;

@breadCrumbsContainer_height: 700px;
@header_height: 70px;
@statusUpdate_height: 50px;

@navigation_width: 175px;

.rounded_borders(@radius: 5px) {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
.rounded_borders(@top, @right, @bottom, @left){
    @radius: @top @right @bottom @left; 

    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}
.drop_shadow(@horizontal: 2px, @vertical: 2px , @blur: 5px, @opacity: 0.3) {
    -moz-box-shadow: @horizontal @vertical @blur rgba(0, 0, 0, @opacity);
    -webkit-box-shadow: @horizontal @vertical @blur rgba(0, 0, 0, @opacity);
    box-shadow: @horizontal @vertical @blur rgba(0, 0, 0, @opacity);
}
.complete_drop_shadow(@horizontal: 2px, @vertical: 2px , @blur: 5px, @opacity: 0.3) {
    -moz-box-shadow: @horizontal @vertical @blur rgba(0, 0, 0, @opacity), @horizontal -@vertical @blur rgba(0, 0, 0, @opacity), -@horizontal @vertical @blur rgba(0, 0, 0, @opacity), -@horizontal -@vertical @blur rgba(0, 0, 0, @opacity);
    box-shadow: @horizontal @vertical @blur rgba(0, 0, 0, @opacity), @horizontal -@vertical @blur rgba(0, 0, 0, @opacity), -@horizontal @vertical @blur rgba(0, 0, 0, @opacity), -@horizontal -@vertical @blur rgba(0, 0, 0, @opacity);
    -webkit-box-shadow: @horizontal @vertical @blur rgba(0, 0, 0, @opacity), @horizontal @vertical*-1 @blur rgba(0, 0, 0, @opacity), @horizontal*-1 @vertical @blur rgba(0, 0, 0, @opacity), @horizontal*-1 @vertical*-1 @blur rgba(0, 0, 0, @opacity);
}
.insetText() {
	-moz-box-shadow: rgba(0,0,0,0.3) -1px 0px, rgba(0,0,0,0.5) -1px -1px, rgba(255,255,255,0.3) 1px 1px, rgba(0,0,0,0.1) -1px -2px;
    -webkit-box-shadow: rgba(0,0,0,0.3) -1px 0px, rgba(0,0,0,0.5) -1px -1px, rgba(255,255,255,0.3) 1px 1px, rgba(0,0,0,0.1) -1px -2px;
}
.background_gradient(@top-color, @bottom-color, @stop-color){
    background: @top-color;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(@top-color), to(@bottom-color), color-stop(0.5, @stop-color));
    background: -moz-linear-gradient(0% 100% 90deg, @top-color, @stop-color, @bottom-color 100%);
}

.left {
    float: left;
}
.right {
    float: right;
}
.click {
    cursor: pointer;
    cursor: hand;
}
.red {
    color: #FF0000;
}
.hidden {
    display: none;
}
body {
    color: @text_color;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    //font-family: Arial, Verdana, sans-serif;
}
.negativeButton {
    .background_gradient(#E80000, #E80000, #D10000);
    border: 2px solid #D10000;
}
.positiveButton {
    .background_gradient(#31C43B, #31C43B, #2AA833);
    border: 2px solid #2AA833;
}
button {
    color: #FFFFFF;
    .rounded_borders(5px);
    height: 30px;
    padding: 0 1.3em;
    font-size: 1.3em;
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 8px #4D4D4D;
}


#container {
    background: @page_background;
    min-height: 600px;
    min-width: 1100px;
    margin: 0;
    padding: 0;

    #header {
        height: @header_height;
        background: @header_background;
        position: relative;
        width: 100%;
        
        #headerBarContainer {
            height: @header_height;
            border-bottom: 1px solid #873D00;
            -webkit-box-shadow: 0px 1px 4px #000;

            h1 {
                margin: 0px;
                padding: 15px 0px 0px 20px;
                font-size: 1.7em;
                position: absolute;
                font-weight: bold;
                color: black;
            }  

            #statusUpdate {
                height: @statusUpdate_height;
                margin-left: 45%;
                position: absolute;
                
                #statusText {
                    font-size: 1.0em;
                    padding: 23px;
                    font-weight: normal;
                    color: #FF7400;
                }
            }
        }

    }

    #contentContainer {
        
        #dummy { 
            width: @navigation_width + 10px;
            float: left;
        }
        
        #navigation {
            background: @navigation_background;
            margin: 2px 0px 0px 0px;
            border-right: 1px solid #873D00;
            -webkit-box-shadow: 1px 0px 4px #000;
            width: @navigation_width;

            ul {
                padding: 10px 0px 0px 0px;
            }

            li {
                margin: 0px 0px 10px 10px;
                font-size: 0.8em;

                a {
                    text-decoration: none;
                    color: #7D7D7D;
                    cursor: pointer;
                    cursor: hand;
                }

                a:visited {
                    color: #7D7D7D;
                }

                a:hover {
                    color: black;
                    font-weight: bold;
                }
            }
            
            #taskNavigation {
                display: none;
                margin: 0 0 0 20px;
            }
            
            #workerNavigation {
                display: none;
                margin: 0 0 0 20px;
            }
        }

        #content {
            float: left;
            position: relative;
            min-width: 600px;

            #system {
                position: absolute;
            }

            #configurationManagement {
                margin: 0 0 0 50px;
                font-size: 0.8em;

                h1 {
                    width: 80%;
                    border: 2px outset #383838;
                    height: 20px;
                    margin: 30px 0 30px 0;
                    .rounded_borders(20px);
                    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#383838), to(#383838), color-stop(.5,#575757));
                    background: -moz-linear-gradient(0% 100% 90deg,#383838, #575757, #383838 100%);
                    color: #FFF;  //#173333;
                    padding: 2px 0 0 10px;
                    font-weight: bold;

                    span {
                        color: orange;
                        font-size: 1.1em;
                    }
                }
                
                ul {
                    width: 65%;
                    height: 20px;
                    margin: 0px 0px 0 64px;
                    padding: 10px 0 0 10px;

                    li {
                        display: inline;
                        margin: 0 5px 0 0;
                        font-size: 1.05em;

                        span {
                            margin-left: 3px;
                        }
                    }
                    .editWorkerNode {
                        margin: 0 5px 0 2.5em;    
                    }
                }

                .node {
                
                    h1 {
                        color: black;
                    }
                }
                .active {
                    border: 2px solid rgb(0, 158, 142);
                    border: 2px solid rgba(0, 158, 142, 0.5);
                    background: rgb(93, 207, 195);
                    background: rgba(93, 207, 195, 0.25);
                }
                .inactive {
                    border: 2px solid rgb(161, 10, 10);
                    border: 2px solid rgba(161, 10, 10, 0.2);
                    background: rgb(199, 16, 16);
                    background: rgba(199, 16, 16, 0.3);
                }

                a {
                    color: black;
                    float: right;
                    cursor: pointer;
                    cursor: hand;
                    margin: 0px 5px 0 0;

                    img {
                        margin: 0 5px 0 0;
                    }
                }

                .outOfBandForm {
                    margin: 0 0 20px 0;
                }
                .fieldWrapper {
                    float: left;
                    width: 90%;
                    margin: 15px 0 0 30px;
                }
                .field {
                    float: left;
                }
                input {
                    margin: 5px 0 0 0;
                }
                .imageID {
                    margin-left: 120px;
                    margin-right: 5px;
                }
                label {
                    text-align: right;
                    width: 150px;
                    float: left;
                    margin: 5px 5px 0 0;
                    color: black;
                }
                .errorWrapper {
                    color: red;
                    font-weight: bold;
                    margin: 5px 0 0 5px;
                    position: relative;
                    display: none;
                }
                .disabledInput {
                    border: none;
                    background: none;
                }
                .submitButton {
                    margin: 15px 0 15px 185px;
                    color: #FFFFFF;
                    .rounded_borders(5px);
                    height: 30px;
                    width: 8em;
                    font-size: 1.3em;
                    font-weight: bold;
                    -webkit-box-shadow: 2px 2px 8px #4D4D4D;
                }
            }
            
            #chartPage {
                width: 1000px;
                min-height: 800px;
                float: left;
                
                #queryOptions {
                    float: left;
                    width: 300px;
                    min-height: 450px;
                    background: #444444;
                    margin: 10px 0px 0px 0px;
                    color: #FFFFFF;
                    
                    .rounded_borders();
                    
                    padding: 5px;
                    font-size: .8em;
                    
                    fieldset {
                        color: #FFFFFF;
                        float: left;
                        width: 100%;
                        
                        legend {
                            color: inherit;
                            font-size: 1.2em;
                            font-weight: bold;
                        }
                        
                        label {
                            margin: 0px 0px 0px 10px;
                            padding: 2px 0px 0px 0px;
                            float: left;
                            width: 140px;
                            height: 10px;
                        }
                        
                        input {
                            width: 130px;
                            margin: 0px 0px 0px 2px;
                        }
                        
                        input#range_interval {
                            width: 40px;
                            float: left;
                        }
                        
                        select#interval_select {
                            float: right;
                            width: 80px;
                        }
                        
                        .fields {
                            float: left;
                            width: 135px;
                        }
                        
                        .no_padding {
                            padding: 0;
                        }
                    }
                    
                    #aggregate_table {
                        width: 100%;
                        margin: 10px 0px 0px 0px;
                        float: left;
    
                        a {
                            text-decoration: none;
                            color: #FF0000;
                        }
                        
                        th {
                            font-weight: bold;
                        }
                    }
                }
                
                #chartOptions {
                    width: 400px;
                    min-height: 200px;
                    float: left;
                    background: #444444;
                    
                    .rounded_borders();
                    
                    margin: 10px;
                    padding: 5px;
                    
                    #options {
                        margin: 5px;
                        color: #FFFFFF;
                        
                        .option {
                            width: auto;
                            float: left;
                            font-size: 0.8em;
                            margin: 0px 0px 0px 0px;
                            
                            label {
                                margin: 0px 0px 0px 0px;
                                padding: 0px 0px 0px 0px;
                                float: left;
                                width: 175px;
                                height: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    #login {
        margin: 25% auto;
        width: 450px;

        #loginHeader {
            border-bottom: 2px solid #CCC;
            margin-bottom: 1em;
            
            h1 {
                margin-left: 2em;
                margin-bottom: 0.2em;
                font-size: 1.4em;
                font-weight: bold;
            }
        }
        .fieldWrapper {
            float: left;
            width: 90%;
            margin: 15px 0 0 30px;
        }
        .field {
            float: left;
        }
        input {
            margin: 5px 0 0 0;
        }
        label {
            text-align: right;
            width: 120px;
            float: left;
            margin: 5px 5px 0 0;
            color: black;
        }
        button {
            margin: 0.6em 0 0 7.5em;
        }
    }
}

.contextMenu {
    @contextMenu_width: 200px;
    @iconColumn_width: 24px;
    @textColumn_border_width: 2px;
    @textColumn_li_padding_left: 5px;
    @textColumn_width: @contextMenu_width - @iconColumn_width - @textColumn_border_width;

    display: none;
    position: absolute;
    background-color: #FFF;
    border: 2px solid #9C9C9C;
    width: @contextMenu_width;
    font-size: 0.9em;
    .rounded_borders(4px);
    .drop_shadow(4px, 2px, 5px, 0.4);
    
    .menuImg {
        border: 1px solid #FFF;   
        border-right: 0px;
    }
    .menuItem {
        border: 1px solid #FFF;
        border-left: 0px;
    }

    .iconColumn {
        width: @iconColumn_width;
        
        li {
            height: 19px;
            margin: 6px 0 6px 2px;
            padding: 1px 0 1px 0;
            
            img {
                padding: 2px 0 0 2px;
            }
        }
    }

    .textColumn {
        border-left: @textColumn_border_width double rgba(156, 156, 156, 0.6);
        width: @textColumn_width;

        li {
            margin: 6px 2px 6px 0;
            padding: 2px 0 2px @textColumn_li_padding_left;
            width: @textColumn_width - @textColumn_li_padding_left - 4px;   
        }
    }

    @rounded: 5px;
    .menuItemHover {
        background: rgba(33, 160, 207, 0.2);
        border: 1px solid rgba(33, 160, 207, 0.5);   
    }
    .leftRounded {
        .rounded_borders(@rounded, 0, 0, @rounded);
        border-right: 0px;
    }
    .rightRounded {
        .rounded_borders(0, @rounded, @rounded, 0);
        border-left: 0px;
    }
}

#boxes {
    @popup-height: 12em;
    @popup-text-height: 6.75em;
    #popupContainer {
        position: absolute;
        z-index: 9000;
        width: 28em;
        height: @popup-height;
        background-color: #FFF;
        border: 6px solid rgba(0, 0, 0, 0.7);
        font-size: 0.9em;
        display: none;
        .rounded_borders(4px);
        //.complete_drop_shadow(5px, 5px, 20px, 1);

        #popupTextBox {
            height: @popup-text-height;
            padding: 1em 0 0 1em;
            font-size: 1.2em;
        }
        #popupButtonContainer {
            margin: 0 auto;
            width: 80%;
            .popupButton {
                color: #FFFFFF;
                .rounded_borders(5px);
                height: 30px;
                width: 5em;
                font-size: 1.2em;
                font-weight: bold;
                -webkit-box-shadow: 2px 2px 8px #4D4D4D;
                margin: 0 0 0 3em;
            }
        }
    }
    #mask{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8000;
        background: #000000;
        opacity: 0.5;
    }
}
