{% extends "base.html" %}

{% block title %}Runtime Distribution{% endblock %}

{% block head_xtra %}
  <!--Load the AJAX API-->
  <script type="text/javascript" src="http://www.google.com/jsapi"></script>
  <script type="text/javascript">

  //Load the Visualization API and the ready-made Google annotated timeline visualization
  google.load('visualization', '1', {'packages':['corechart']});

  // Set a callback to run when the API is loaded.
  google.setOnLoadCallback(init);

  // Send the query to the data source.
  function init() {

    // Specify the data source URL.
    var url = "{{url|safe}}";
    var query = new google.visualization.Query(url);

    // Send the query with a callback function.
    query.send(handleQueryResponse);
  }

  // Handle the query response.
  function handleQueryResponse(response) {
    if (response.isError()) {
      alert('Error in query: ' + response.getMessage() + ' ' + response.getDetailedMessage());
      return;
    }

    // Draw the visualization.
    var data = response.getDataTable();
    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
    chart.draw(data, { displayAnnotations: true, title: 'Celery Runtime Distribution',
                       hAxis: {title: 'Runtime (seconds)'},
                       legend: 'none',
                     });
  }
  </script>
{% endblock %}


{% block content %}
  <!--Div that will hold the pie chart-->
  <div id="chart_div" style='width: 600px; height: 300px;'>
    Loading graph...
  </div>
  <form action="{% url celerymanagementapp.views.visualize_runtimes taskname=taskname%}">
      Start date/time: <br/>
      <input type="text" name="start_time"><br/>
      End date/time: <br/>
      <input type="text" name="end_time"><br/>
      Number of bins: <br/>
      <input type="text" name="bin_count"><br/>
      Bin size:<br/>
       <input type="text" name="bin_size"><br/>
      <input type="submit" name="submit" value="Submit me">
  </form>
{% endblock %}
 

