
{% block content %}
<html>
<head>
  <title>Dispatched Tasks</title>
  
  <style type="text/css">
  table {
    border-collapse: collapse;
  }
  td, th {
    border: solid 1px black;
    padding: 0 1em; 
  }
  .uuid {
    font-family: monospace;
  }
  </style>
  
</head>

  <body>
    <div>
    {% if taskname %}
      Showing dispatched tasks of defined task: {{ taskname }}.
    {% else %}
      Showing all dispatched tasks.
    {% endif %}
    </div>
    <table>
    <tr>
      <th>UUID</th>
      <th>State</th>
      <th>Name</th>
      <th>ETA</th>
      <th>When</th>
      <th>Worker</th>
    </tr>
    {% for t in tasks.object_list %}
    <tr>
      <td class="uuid">{{ t.task_id }}</td>
      <td>{{ t.state }}</td>
      <td>{{ t.name }}</td>
      <td>
        {% if t.eta %}
          {{ t.eta }}
        {% else %}
          ...
        {% endif %}
      </td>
      <td>{{ t.tstamp|timesince }} ago</td>
      <td>{{ t.worker }}</td>
    </tr>
    {% endfor  %}
    </table>
    <div>
    {% if tasks.has_previous %}
      <a href="?page={{ tasks.previous_page_number }}">previous</a>
    {% endif %}
    
    Page {{ tasks.number }} of {{ tasks.paginator.num_pages }}.
    
    {% if tasks.has_next %}
      <a href="?page={{ tasks.next_page_number }}">next</a>
    {% endif %}
    </div>
  </body>
</html>
 
{% endblock %}

